<!-- <mat-card>
  <mat-list>
    <mat-label>fin</mat-label>
    <mat-list-item>{{items["pin"] | json}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card> -->


<mat-card class="mat-card1">
  <mat-list>
    <mat-label>Fin</mat-label>
    <mat-list-item>{{pin}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <mat-list>
    <mat-label>Adi</mat-label>
    <mat-list-item>{{firstName}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Soyadi</mat-label>
    <mat-list-item>{{lastName}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Ata adi</mat-label>
    <mat-list-item>{{fatherName}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Cinsi</mat-label>
    <mat-list-item>{{gender}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Doqum Tarixi</mat-label>
    <mat-list-item>{{birthDay}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>


<mat-card class="mat-card2">
  <mat-list>
    <mat-label>Ölkə</mat-label>
    <mat-list-item>{{country}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Şəhər</mat-label>
    <mat-list-item>{{city}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <mat-label>Telefon</mat-label>
    <mat-list-item>{{phone}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</mat-card>

